In [74]:
import pandas as pd
MLB_data = pd.read_csv("data/MLB_Pitchers.csv", encoding = 'latin-1')

In [75]:
MLB_data = (MLB_data.drop(columns = ["Lg", "Awards", "Player-additional"]).query('IP > 20').dropna())

In [76]:
MLB_data

,Rk,Player,Age,Team,WAR,W,L,W-L%,ERA,G,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/BB
0,1,Logan Gilbert,27,SEA,2.8,9,12,0.429,3.23,33,...,11,803,113.0,3.27,0.887,6.4,1.1,1.6,9.5,5.95
1,2,Seth Lugo,34,KCR,5.4,16,9,0.640,3.00,33,...,4,836,139.0,3.25,1.089,7.7,0.7,2.1,7.9,3.77
2,3,Logan Webb,27,SFG,3.6,13,10,0.565,3.47,33,...,4,841,111.0,2.95,1.231,8.9,0.5,2.2,7.6,3.44
3,4,Zack Wheeler,34,PHI,6.1,16,7,0.696,2.57,32,...,8,787,160.0,3.13,0.955,6.3,0.9,2.3,10.1,4.31
4,5,Aaron Nola,31,PHI,3.7,14,8,0.636,3.57,33,...,2,820,115.0,3.94,1.199,8.5,1.4,2.3,8.9,3.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,536,Emmanuel RamÃ­rez,29,MIA,-0.3,0,1,0.000,6.97,15,...,2,92,65.0,4.62,1.403,9.1,1.3,3.5,9.1,2.63
720,537,Erasmo RamÃ­rez,34,TBR,-0.2,3,0,1.000,4.35,13,...,2,85,93.0,6.46,1.065,5.2,2.2,4.4,6.5,1.50
721,538,Ryder Ryan,29,PIT,-0.2,1,0,1.000,5.66,15,...,0,93,75.0,4.52,1.452,9.1,0.9,3.9,7.4,1.89
722,539,Scott Blewett,28,MIN,0.8,1,1,0.500,1.77,12,...,0,85,240.0,4.00,1.230,7.5,0.9,3.5,8.0,2.25
724,541,River Ryan,25,LAD,0.7,1,0,1.000,1.33,4,...,0,81,296.0,3.36,1.180,6.6,0.4,4.0,8.0,2.00

In [77]:
duplicates = MLB_data[MLB_data.duplicated('Rk', keep = False)]

team_dict = dict()

for index, row in duplicates.iterrows():
    if row['Rk'] not in list(team_dict.keys()):
        team_dict[row['Rk']] = [row['Team']]
    else:
        team_dict[row['Rk']].append(row['Team'])

for elem in team_dict:
    del team_dict[elem][0]

In [78]:
team_df = pd.DataFrame(list(team_dict.items()), columns = ['Rk', 'Team'])

In [79]:
team_df

     Rk        Team
0    28  [CHW, STL]
1    30  [TOR, HOU]
2    54  [TBR, BAL]
3    58  [DET, LAD]
4    59  [TBR, MIL]
..  ...         ...
70  479       [WSN]
71  480       [SFG]
72  498       [CHW]
73  513       [TEX]
74  528       [MIL]

[75 rows x 2 columns]

In [80]:
MLB_data_clean = MLB_data.groupby('Rk').agg("first").reset_index()

In [81]:
MLB_data_clean['Team'] = MLB_data_clean['Team'].apply(lambda x: [x])

In [82]:
MLB_data_clean

,Rk,Player,Age,Team,WAR,W,L,W-L%,ERA,G,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/BB
0,1,Logan Gilbert,27,[SEA],2.8,9,12,0.429,3.23,33,...,11,803,113.0,3.27,0.887,6.4,1.1,1.6,9.5,5.95
1,2,Seth Lugo,34,[KCR],5.4,16,9,0.640,3.00,33,...,4,836,139.0,3.25,1.089,7.7,0.7,2.1,7.9,3.77
2,3,Logan Webb,27,[SFG],3.6,13,10,0.565,3.47,33,...,4,841,111.0,2.95,1.231,8.9,0.5,2.2,7.6,3.44
3,4,Zack Wheeler,34,[PHI],6.1,16,7,0.696,2.57,32,...,8,787,160.0,3.13,0.955,6.3,0.9,2.3,10.1,4.31
4,5,Aaron Nola,31,[PHI],3.7,14,8,0.636,3.57,33,...,2,820,115.0,3.94,1.199,8.5,1.4,2.3,8.9,3.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,536,Emmanuel RamÃ­rez,29,[MIA],-0.3,0,1,0.000,6.97,15,...,2,92,65.0,4.62,1.403,9.1,1.3,3.5,9.1,2.63
531,537,Erasmo RamÃ­rez,34,[TBR],-0.2,3,0,1.000,4.35,13,...,2,85,93.0,6.46,1.065,5.2,2.2,4.4,6.5,1.50
532,538,Ryder Ryan,29,[PIT],-0.2,1,0,1.000,5.66,15,...,0,93,75.0,4.52,1.452,9.1,0.9,3.9,7.4,1.89
533,539,Scott Blewett,28,[MIN],0.8,1,1,0.500,1.77,12,...,0,85,240.0,4.00,1.230,7.5,0.9,3.5,8.0,2.25
534,541,River Ryan,25,[LAD],0.7,1,0,1.000,1.33,4,...,0,81,296.0,3.36,1.180,6.6,0.4,4.0,8.0,2.00

In [83]:
MLB_data_clean.set_index('Rk', inplace = True)
team_df.set_index('Rk', inplace = True)

MLB_data_clean.update(team_df)

In [84]:
MLB_data_clean

,Player,Age,Team,WAR,W,L,W-L%,ERA,G,GS,...,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/BB
Rk,,,,,,,,,,,,,,,,,,,,,
1,Logan Gilbert,27,[SEA],2.8,9,12,0.429,3.23,33,33,...,11,803,113.0,3.27,0.887,6.4,1.1,1.6,9.5,5.95
2,Seth Lugo,34,[KCR],5.4,16,9,0.640,3.00,33,33,...,4,836,139.0,3.25,1.089,7.7,0.7,2.1,7.9,3.77
3,Logan Webb,27,[SFG],3.6,13,10,0.565,3.47,33,33,...,4,841,111.0,2.95,1.231,8.9,0.5,2.2,7.6,3.44
4,Zack Wheeler,34,[PHI],6.1,16,7,0.696,2.57,32,32,...,8,787,160.0,3.13,0.955,6.3,0.9,2.3,10.1,4.31
5,Aaron Nola,31,[PHI],3.7,14,8,0.636,3.57,33,33,...,2,820,115.0,3.94,1.199,8.5,1.4,2.3,8.9,3.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,Emmanuel RamÃ­rez,29,[MIA],-0.3,0,1,0.000,6.97,15,0,...,2,92,65.0,4.62,1.403,9.1,1.3,3.5,9.1,2.63
537,Erasmo RamÃ­rez,34,[TBR],-0.2,3,0,1.000,4.35,13,0,...,2,85,93.0,6.46,1.065,5.2,2.2,4.4,6.5,1.50
538,Ryder Ryan,29,[PIT],-0.2,1,0,1.000,5.66,15,0,...,0,93,75.0,4.52,1.452,9.1,0.9,3.9,7.4,1.89
539,Scott Blewett,28,[MIN],0.8,1,1,0.500,1.77,12,0,...,0,85,240.0,4.00,1.230,7.5,0.9,3.5,8.0,2.25
541,River Ryan,25,[LAD],0.7,1,0,1.000,1.33,4,4,...,0,81,296.0,3.36,1.180,6.6,0.4,4.0,8.0,2.00

In [73]:
MLB_data_clean.columns

Index(['Player', 'Age', 'Team', 'Lg', 'WAR', 'W', 'L', 'W-L%', 'ERA', 'G',
       'GS', 'GF', 'CG', 'SHO', 'SV', 'IP', 'H', 'R', 'ER', 'HR', 'BB', 'IBB',
       'SO', 'HBP', 'BK', 'WP', 'BF', 'ERA+', 'FIP', 'WHIP', 'H9', 'HR9',
       'BB9', 'SO9', 'SO/BB'],
      dtype='object')